registry=https://registry.npmmirror.com/
@rollup:registry=https://registry.npmjs.org/
@esbuild:registry=https://registry.npmjs.org/
@shikijs:registry=https://registry.npmjs.org/
replace-registry-host=never
cache=.npm-cache
prefer-offline=true
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
fetch-timeout=120000
audit=false
fund=false
